/* ORANGE COLOR SCHEME */
body.orange .sidebar-logo-image-item-nosquare {
    border-top: 3px solid #FF4F00;
    border-left: 3px solid #FF4F00;
    border-right: 3px solid #FF4F00;
}
body.orange .sidebar-logo-image-item-line {
    background-color: #FF4F00;
}
body.orange .sidebar-logo-image-item-square {
    border: 3px solid #FF4F00;
}
body.orange .sidebar-logo-text {
    color: #FF4F00;
}
body.orange .toggle-bg {
    background-color: #FF4F0050;
}
body.orange .toggle-round {
    background-color: #FF4F00;
}
body.orange .save-settings {
    background-color: #FF4F00;
}
body.orange .table-cols-item {
    background-color: #FF4F0070;
}
body.orange .table-cols-item:hover {
    background-color: #FF4F0090;
}
body.orange .table-cols-item.active {
    background-color: #FF4F00;
}
body.orange .main_content-table table tbody tr.active {
    background-color: #FF4F0030;
}

/* BLUE COLOR SCHEME */
body.blue .sidebar-logo-image-item-nosquare {
    border-top: 3px solid #7EBBF0;
    border-left: 3px solid #7EBBF0;
    border-right: 3px solid #7EBBF0;
}
body.blue .sidebar-logo-image-item-line {
    background-color: #7EBBF0;
}
body.blue .sidebar-logo-image-item-square {
    border: 3px solid #7EBBF0;
}
body.blue .sidebar-logo-text {
    color: #7EBBF0;
}
body.blue .toggle-bg {
    background-color: #7EBBF050;
}
body.blue .toggle-round {
    background-color: #7EBBF0;
}
body.blue .save-settings {
    background-color: #7EBBF0;
}
body.blue .table-cols-item {
    background-color: #7EBBF070;
}
body.blue .table-cols-item:hover {
    background-color: #7EBBF090;
}
body.blue .table-cols-item.active {
    background-color: #7EBBF0;
}
body.blue .main_content-table table tbody tr.active {
    background-color: #7EBBF030;
}