/* десктопные девайсы */

/* планшеты */

/* мобильный девайсы */
@media (max-width: 767px) {
    /* главная страница */
    .sidebar {
        width: 100%;
        max-width: 100%;
    }
    .main_content.home {
        display: none;
    }
    #btn-settings-mobile {
        display: flex;
    }
    #btn-settings-mobile,
    #btn-quit,
    #btn-all-docs-mobile {
        width: 30px;
        height: 30px;
        top: 40px;
        display: flex;
    }
    #btn-settings-mobile img,
    #btn-quit img,
    #btn-all-docs-mobile img {
        width: 30px;
        height: 30px;
    }

    /* страница со списками и документами */
    .main.all_doc {
        height: 100%;
    }
    .sidebar.all_doc {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        overflow: visible;
        box-shadow: 4px 0 4px #0002;
        transform: translateX(0);
        transition: all .3s ease;
    }
    #hidden-sidebar {
        right: 20px;
        display: flex;
    }
    .sidebar.all_doc.hidden {
        transform: translateX(-100%);
    }
    .sidebar.all_doc.hidden #hidden-sidebar {
        right: -60px;
    }
    .main_content-header {
        flex-direction: column;
        gap: 10px;
    }
    .main_content-header-item:not(.two) {
        width: 100%;
        padding: 0 0 0 50px;
        align-items: center;
        min-height: 40px;
    }
    .main_content-header-item-title {
        width: 100%;
    }
    .list {
        flex-direction: column;
        width: 100%;
    }
    .list-label {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .list-label select {
        width: 100%;
    }
    .list-btns {
        width: 100%;
        justify-content: left;
    }
    .list-btn {
        width: 100%;
    }
    .main_content-header-item.two {
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
    .main-btns {
        gap: 10px;
    }
    .btn-search {
        width: 35px;
        height: 35px;
    }
    .btn-search img {
        width: 20px;
        height: 20px;
    }
    #btn-favorite,
    #btn-settings {
        width: 25px;
        height: 35px;
    }
    #btn-favorite img,
    #btn-settings img {
        width: 25px;
        height: 25px;
    }

    /* Настройки */
    .sidebar.settings {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        overflow: visible;
        box-shadow: 4px 0 4px #0002;
        transform: translateX(0);
        transition: all .3s ease;
    }
    .sidebar.settings.hidden {
        transform: translateX(-100%);
    }
    .sidebar.settings.hidden #hidden-sidebar {
        right: -60px;
    }
    .main.settings {
        height: 100%;
    }
    .settings_container-header {
        width: 100%;
        padding: 0 50px;
        align-items: center;
        min-height: 40px;
        height: auto;
    }
    .settings_container-header div {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        line-height: .7em;
    }
    .setting-profile-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .setting-profile-card {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .setting-profile-image-image {
        width: 100px;
        height: 100px;
    }
    .setting-profile-image-image img {
        width: 38px;
        height: 45px;
    }
    .setting-profile-image button {
        width: auto;
        height: auto;
        flex: 1;
        padding: 10px 15px;
        border-radius: 15px;
    }
    .modal-fonts-content {
        width: 100%;
        max-width: 100%;
        color: #000;
        display: flex;
        flex-direction: column;
    }
    .setting-item-card {
        gap: 20px;
    }
    .setting-item-card-title {
        width: 100%;
    }

    .modal-bg-image-container {
        gap: 25px;
    }
    .modal-bg-image-content {
        flex-direction: column;
        gap: 25px;
    }
    .modal-bg-image-content-item.tabs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .modal-bg-image-tab {
        width: 100%;
        max-width: 100%;
    }
    .modal-bg-image-content-item.cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .modal-bg-image-btn.accept {
        grid-area: bgImageAccept;
        padding: 10px 20px;
    }
    .modal-bg-image-btn.delete {
        grid-area: bgImageDelete;
    }
    .modal-bg-image-btn.cancel {
        grid-area: bgImageCancel;
    }
    .modal-bg-image-btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        height: 100%;
        grid-template-areas: 
        "bgImageAccept bgImageAccept"
        "bgImageDelete bgImageCancel";
    }
    .modal-bg-image-btn {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
    }
    .main_content-panel-header-item:nth-child(1),
    .main_content-panel-header-item:nth-child(3) {
        display: none;
    }
    .main_content-panel.active .main_content-panel-header-item:nth-child(1),
    .main_content-panel.active .main_content-panel-header-item:nth-child(3) {
        display: flex;
        margin-bottom: 5px;
    }
    .main_content-panel-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_content-panel.active .main_content-panel-header {
        display: flex;
        justify-content: space-between;
    }
    #btn-main-panel {
        margin-bottom: 2px;
    }
    .main_content-panel.active #btn-main-panel {
        margin-bottom: 5px;
    }
    .setting-item-card,
    .setting-item-card-container {
        width: 100%;
        max-width: 100%;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
    }
    #btn-quit.mob {
        display: block;
    }
    .resize-handle {
        display: none;
    }
    .main.open_doc .main_content-header {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        align-items: center;
    }
    .main.open_doc #btn-settings-mobile {
        display: none;
    }
    .main.open_doc .main_content-header-item:not(.docs) {
        width: 25px;
        padding-left: 0;
    }
    /* .main.open_doc #btn-settings,
    .main.open_doc .main_content-header-item:not(.docs) {
        display: none;
    } */
    .main_content-header-item.docs {
        margin-top: 30px;
        flex-direction: column;
        gap: 5px;
        padding: 0 0 0 0;
        width: 100%;
    }
    .main_content-header-item-line {
        width: 100%;
        height: 1px;
    }
    .main.open_doc #btn-quit,
    .main.open_doc #btn-settings-mobile
    {
        top: 20px;
    }
    .main_content-header-item.docs .main_content-header-item-title {
        white-space: wrap;
    }
    .main.all_doc .btn-back {
        z-index: 101;
        top: 5px;
    }
    .main.main.open_doc .btn-back {
        z-index: 101;
        top: 5px;
        top: 20px;
    }

    
}
@media ( max-width: 600px ) {
    .contact-item:not(.title) {
        flex-wrap: wrap;
        gap: 2px;
    }
}
@media ( max-width: 550px ) {
    #reset-settings {
        width: 100%;
    }
}